<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Previsão de Lucros - Machine Learning</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
<div class="bg-[#0D1117] min-h-screen flex flex-col justify-center items-center">
    <div class="text-center w-full max-w-3xl">
        <div class="text-2xl font-bold mb-6 text-[#00B86B]">
            Previsão de Lucros - Estudo de machine learning
        </div>

        <div class="py-8 px-6 bg-[#161B22] rounded-lg shadow-lg">
            <form
                    method="POST"
                    action="/enviar"
                    enctype="multipart/form-data"
                    class="space-y-6"
            >
                <div>
                    <label
                            for="csvFile"
                            class="block text-lg font-medium text-white mb-3">
                        Faça upload do arquivo de gastos mensais:
                    </label>
                    <input
                            type="file"
                            id="csvFile"
                            name="csvFile"
                            accept=".csv"
                            required
                            class="block w-full cursor-pointer rounded-lg border border-gray-300 bg-[#334155] px-4 py-3 text-[#E6EDF3] hover:bg-[#3B4B66] focus:outline-none focus:ring-2 focus:ring-blue-300"
                    >
                </div>

                <input
                        type="submit"
                        value="Enviar arquivo"
                        class="w-full rounded-md bg-[#334155] px-4 py-3 text-lg font-medium text-[#E6EDF3] hover:bg-[#3B4B66] focus:outline-none focus:ring-2 focus:ring-blue-300 cursor-pointer"
                >
            </form>
        </div>
    </div>
</div>
<div class="absolute top-4 left-4">
    <div class="relative group">
        <div class="text-[#8B949E] font-bold cursor-pointer">
            ⓘ Como funciona
        </div>

        <div class="absolute left-full top-0 ml-2 hidden w-max rounded-md bg-[#232D3F] px-4 py-2 text-sm text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100 group-hover:block">
            Essa aplicação utiliza um conceito de Machine Learning - a Regressão Linear, para fazer previsões baseadas
            em dados já existentes.
            Faça o upload de um arquivo excel (.csv) e experimente!
        </div>
    </div>


    <div class="relative group">
        <div class="text-[#8B949E] font-bold">
            <a
                    href="static/despesas.csv"
                    download="YourFileName.csv"
            >
                ⓘ Faça o Dowload de um arquivo exemplo.
            </a>

        </div>
    </div>
</div>
</body>
</html>